<%= simple_form_for @shift, html: { class: 'form-horizontal' } do |f| %>
<%= hidden_field_tag "shift[job_ids][]", nil %>
  <fieldset>
  <div class="span7">
    <legend><%= controller.action_name.capitalize %> Shift</legend>

    <%= f.input :assignment_id, :collection => Assignment.current.chronological, :include_blank => true, input_html: {class: "avg"}  %>
    
    <%= f.input :date, label: "Date", as: :string, :input_html => {:class => "avg datepicker"} %>
    <%= f.input :start_time, input_html: {class: "avg"} %>
    <%= f.input :end_time, input_html: {class: "avg"} %>
    <%= f.input :notes, input_html: {class: "avg"} %>
    </div>
    <div class="span5">
    <!-- add can ability to add job -->
      <legend>Jobs for this Shift</legend>
        <div class="actions">
        <%= render partial: 'job_checkboxes' %>
        </div> 
  </div>

    <div class="form-actions">
    <%= f.submit nil, :class => 'button radius' %>
    <%= link_to 'Cancel', shifts_path, :class => 'button secondary' %>
  </div>
  </fieldset>
<% end %>